@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,600);
/* line 5, ../scss/style.scss */
body {
  background: url(../img/cock.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 11, ../scss/style.scss */
.wrapper {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 30, ../scss/style.scss */
h1, h2, h3, h4 {
  font-family: 'Bree Serif', serif;
  color: #73000A;
}

/* line 35, ../scss/style.scss */
p, li, a {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8em;
}

/* line 42, ../scss/style.scss */
header h1 {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}
/* line 48, ../scss/style.scss */
header article {
  background: black;
  opacity: 0.9;
  color: white;
  display: block;
  width: 75%;
  padding: 20px 40px;
  font-weight: 400;
  font-size: 1.1em;
  margin: 0 auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 60, ../scss/style.scss */
header article p:first-child {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}

/* line 70, ../scss/style.scss */
.parents {
  margin-top: 80px;
}
/* line 73, ../scss/style.scss */
.parents h2 {
  font-size: 1.9em;
  text-align: center;
}

/* line 80, ../scss/style.scss */
.justify, .align {
  margin-bottom: 120px;
}
/* line 84, ../scss/style.scss */
.justify nav, .align nav {
  vertical-align: middle;
  display: inline-block;
  width: 25%;
  text-align: center;
}
/* line 90, ../scss/style.scss */
.justify nav ul, .align nav ul {
  list-style: none;
  padding: 0px;
}
/* line 95, ../scss/style.scss */
.justify nav li, .align nav li {
  margin: 20px 0;
}
/* line 99, ../scss/style.scss */
.justify nav a, .align nav a {
  text-decoration: none;
}

/* line 106, ../scss/style.scss */
.container {
  vertical-align: middle;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  height: 250px;
  opacity: 0.9;
  display: inline-block;
  background: black;
  width: 65%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
/* line 109, ../scss/style.scss */
.container div {
  width: 40px;
  height: 40px;
  background: #73000A;
  margin: 40px 20px;
}

/* line 119, ../scss/style.scss */
.a_container {
  vertical-align: middle;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  height: 250px;
  opacity: 0.9;
  display: inline-block;
  background: black;
  width: 65%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
/* line 122, ../scss/style.scss */
.a_container div {
  width: 125px;
  height: 50px;
  background: #73000A;
  margin: 40px 20px;
}
